---
title: Home
---

<!DOCTYPE html>
<html>
  {% include document-head.html %}
  <body class="page-container">
    {% include navbar.html %}

    <!-- Slideshow container -->
    <div class="slideshow-wrapper">
      <div class="slideshow-container">
        <!-- Full-width images with number and caption text -->
        <div class="slideshow-div">
          <div class="slideshow-textdiv">
            <h1 style="color: white">M.A.R.I.O</h1>
            <h3 class="" style="color: white">
              Mobile Assisted Reconstruction In Orthopaedics.
            </h3>
            <a class="white-button" href="https://google.co.uk">
              <h3 class="blue">Discover More</h3>
            </a>
          </div>
          <img src="{{ 'media/home-img1.png' | relative_url }}" class="slideshow-image" alt="" />
        </div>

        <div class="slideshow-div">
          <div class="slideshow-textdiv">
            <h1 style="color: white">CAREERS</h1>
            <h3 style="color: white">
              Join our team to work on cutting-edge technology.
            </h3>
            <a class="white-button" href="https://google.co.uk">
              <h3 class="blue">Job Openings</h3>
            </a>
          </div>
          <img src="{{ 'media/home-img2.png' | relative_url }}" class="slideshow-image" alt="" />
        </div>

        <div class="slideshow-div">
          <div class="slideshow-textdiv">
            <h1 class="desktop-only" style="color: white">
              ARE YOU AN INVESTOR?
            </h1>
            <h1 class="mobile-only" style="color: white">INVESTOR?</h1>
            <h3 style="color: white">Help us get our product to market.</h3>
            <a class="white-button" href="https://google.co.uk">
              <h3 class="blue">Discover More</h3>
            </a>
          </div>
          <img src="{{ 'media/home-img3.png' | relative_url }}" class="slideshow-image" alt="" />
        </div>

        <!-- Next and previous buttons -->
        <a class="slideshow-prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="slideshow-next" onclick="plusSlides(1)">&#10095;</a>

        <!-- The dots/circles -->
        <div class="slideshow-dots">
          <span class="slideshow-dot" onclick="scrollSlideshow(1)"></span>
          <span class="slideshow-dot" onclick="scrollSlideshow(2)"></span>
          <span class="slideshow-dot" onclick="scrollSlideshow(3)"></span>
        </div>
      </div>
    </div>
    <!-- End of Slideshow -->

    <div class="section-block">
      <div class="section-block-text-cont">
        <h1>THE NEXT GENERATION OF SURGICAL NAVIGATION</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur. Lectus bibendum amet nulla
          pellentesque. Et lorem vel mauris imperdiet sed vel dui ultrices
          nulla. Ullamcorper maecenas cras sed maecenas ornare pharetra turpis
          hendrerit. Nibh malesuada neque sodales rhoncus sed a tempus
          condimentum. Cursus sit mollis eget dictum sit. Lorem ipsum dolor sit
          amet consectetur. Lectus bibendum amet nulla pellentesque. Et lorem
          vel mauris imperdiet sed vel dui ultrices nulla. Ullamcorper maecenas
          cras sed maecenas ornare pharetra turpis hendrerit.
        </p>
      </div>
      <div class="section-block-text-cont">
        <img
          class="section-block-image"
          src="{{ 'media/home-img4.png' | relative_url }}"
          alt="Image of surgery"
        />
      </div>
    </div>

    <div class="section-block-highlight">
      <h1 class="white">THE TEAM</h1>
      <div class="flex-full-row">
        <div class="equal-col">
          <img
            class="team-image"
            src="{{ 'media/team-shuqiao.png' | relative_url }}"
            alt="Image of Dr Shuqiao Xie"
          />
          <h3 class="white">Dr Shuqiao Xie</h3>
          <p>Founder & Technical lead</p>
        </div>
        <div class="equal-col">
          <img
            class="team-image"
            src="{{ 'media/team-anthony.png' | relative_url }}"
            alt="Image of Prof. Anthony Bull"
          />
          <h3 class="white">Prof. Anthony Bull</h3>
          <p>Founder & Research lead</p>
        </div>
        <div class="equal-col">
          <img
            class="team-image"
            src="{{ 'media/team-pierluigi.png' | relative_url }}"
            alt="Image of Dr Pierluigi Cuomo"
          />
          <h3 class="white">Dr Pierluigi Cuomo</h3>
          <p>Founder & Clinical Lead</p>
        </div>
        <div class="equal-col">
          <img
            class="team-image"
            src="{{ 'media/team-marco.png' | relative_url }}"
            alt="Image of Dr Marco Hanaman"
          />
          <h3 class="white">Dr Marco Hanaman</h3>
          <p>Founder</p>
        </div>
      </div>
    </div>

    <h1 style="margin-top: 120px">HISTORY OF THE COMPANY</h1>
    <div id="timeline" class="timeline-container">
      <div class="timeline-wrapper">
        <div class="timeline-base"></div>
        <div id="timeline-bar" class="timeline-top"></div>
        <div id="timeline-dot" class="timeline-dot"></div>
      </div>
      <div class="timeline-row">
        <p class="timeline-date">30th November 2020</p>
        <h3 class="timeline-text">
          First meeting with MBA: Paul confirmed investment of €250k
        </h3>
      </div>
      <div class="timeline-row">
        <p class="timeline-date">10th December 2020</p>
        <h3 class="timeline-text">Business plan preparation</h3>
      </div>
      <div class="timeline-row">
        <p class="timeline-date">30th March 2021</p>
        <h3 class="timeline-text">Research contract with MBA is signed</h3>
      </div>
      <div class="timeline-row">
        <p class="timeline-date">31st March 2021</p>
        <h3 class="timeline-text">First cadaver test @ SMU building</h3>
      </div>
      <div class="timeline-row">
        <p class="timeline-date">9th February 2021</p>
        <h3 class="timeline-text">
          Knowhow (phone app) is filed
          <img src="{{ 'media/info-icon.svg' | relative_url }}" class="info-icon" />
          <div class="info-icon-wrapper">
            <span class="info-hover"
              >Extra information about the timeline event goes here. Appears on
              hover of the info button. Lorem ipsum dolor sit amet consectetur.
              Amet vitae lacus phasellus vel viverra faucibus. Lorem ipsum dolor
              sit amet consectetur. Amet vitae lacus phasellus vel viverra
              faucibus.</span
            >
          </div>
        </h3>
      </div>
      <div class="timeline-row">
        <p class="timeline-date">9th February 2021</p>
        <h3 class="timeline-text">Knowhow (SSM) is filed</h3>
      </div>
      <div class="timeline-row">
        <p class="timeline-date">10th June 2021</p>
        <h3 class="timeline-text">Patent is filed #2108251.6</h3>
      </div>
      <div class="timeline-row">
        <p class="timeline-date">30th July 2021</p>
        <h3 class="timeline-text">
          Award: SETsquared ICURe Cohort 35
          <img src="{{ 'media/info-icon.svg' | relative_url }}" class="info-icon" />
          <div class="info-icon-wrapper">
            <span class="info-hover"
              >Extra information about the timeline event goes here. Appears on
              hover of the info button. Lorem ipsum dolor sit amet consectetur.
              Amet vitae lacus phasellus vel viverra faucibus. Lorem ipsum dolor
              sit amet consectetur. Amet vitae lacus phasellus vel viverra
              faucibus.</span
            >
          </div>
        </h3>
      </div>
      <div class="timeline-row">
        <p class="timeline-date">4th August 2021</p>
        <h3 class="timeline-text">Award : EPSRC IAA</h3>
      </div>
      <div class="timeline-row">
        <p class="timeline-date">6th October 2021</p>
        <h3 class="timeline-text">Award : MedTech SuperConnector</h3>
      </div>
      <div class="timeline-row">
        <p class="timeline-date">25th November 2021</p>
        <h3 class="timeline-text">Award: RAEng Enterprise Fellowship</h3>
      </div>
      <div class="timeline-row">
        <p class="timeline-date">10th February 2022</p>
        <h3 class="timeline-text">Plan A & B</h3>
      </div>
      <div class="timeline-row">
        <p class="timeline-date">18th February 2022</p>
        <h3 class="timeline-text">S3 registered</h3>
      </div>
    </div>

    <div style="height: 150px"></div>

    {% include footer.html %}

    <script type="text/javascript">
      var sliderElement = document.querySelector(".slideshow-container");
      let numSlides = sliderElement.querySelectorAll(".slideshow-div").length;
      let initialSliderScrollPos = 0;
      let currentSliderScrollPos = initialSliderScrollPos; //start position minus padding
      let currentSlideShown = 1;
      let slideWidth = sliderElement.scrollWidth / numSlides;
      let slideMaxScroll = initialSliderScrollPos + numSlides * slideWidth;
      let slideshowTimer;

      scrollSlideshow(currentSlideShown);

      function plusSlides(n) {
        var newSlide = currentSlideShown + n;
        if (newSlide < 1) {
          newSlide = numSlides;
        } else if (newSlide > numSlides) {
          newSlide = 1;
        }
        scrollSlideshow(newSlide);
      }

      /**
       * Scroll to previous slide within the slider
       */
      function scrollSlideshow(n) {
        clearTimeout(slideshowTimer);

        // update variables to allow for resize
        slideWidth = sliderElement.scrollWidth / numSlides;

        currentSlideShown = n;
        // Calculate the new scroll position for the slider
        var newSliderScrollPos = initialSliderScrollPos + (n - 1) * slideWidth;
        let dots = document.getElementsByClassName("slideshow-dot");

        // console.log(newSliderScrollPos);
        // var sliderElement = document.querySelector(".slideshows-slider");
        // Scroll to the previous slide
        sliderElement.scrollTo(newSliderScrollPos, 0);

        // Update the current slider scroll position
        currentSliderScrollPos = newSliderScrollPos;

        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(
            " slideshow-active",
            ""
          );
        }
        dots[currentSlideShown - 1].className += " slideshow-active";

        slideshowTimer = setTimeout(() => {
          var m = currentSlideShown + 1;
          if (m > numSlides) {
            m = 1;
          }
          scrollSlideshow(m);
        }, 5000);
      }

      var timeline = document.getElementById("timeline");
      var timelineDot = document.getElementById("timeline-dot");
      var timelineBar = document.getElementById("timeline-bar");
      var flag = true;
      var timelineTop;
      var timelineHeight = timeline.getBoundingClientRect().height;
      var completion = 0;

      document.body.onscroll = function () {
        console.log(document.documentElement.scrollTop);

        if (
          0.54 > timeline.getBoundingClientRect().top / window.innerHeight &&
          timeline.getBoundingClientRect().top / window.innerHeight > 0.46 &&
          flag == true
        ) {
          console.log("true");
          timelineTop = document.documentElement.scrollTop;
          flag = false;
        }

        completion =
          Math.max(
            Math.min(
              (100 * (document.documentElement.scrollTop - timelineTop)) /
                timelineHeight,
              100
            ),
            0
          ) + "%";

        console.log(completion + "%");

        timelineBar.style.height = completion;
        timelineDot.style.top = completion;
      };
    </script>
  </body>
</html>
