---
title: About Us
---

<!DOCTYPE html>
<html>
  {% include document-head.html %}
  <body class="page-container">
    {% include navbar.html %}

    <div class="section-block" style="margin-top: 48px;">
      <div class="section-block-text-cont">
        <h1>ABOUT US</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur. Lectus bibendum amet nulla
          pellentesque. Et lorem vel mauris imperdiet sed vel dui ultrices
          nulla. Ullamcorper maecenas cras sed maecenas ornare pharetra turpis
          hendrerit. Nibh malesuada neque sodales rhoncus sed a tempus
          condimentum. Cursus sit mollis eget dictum sit. Lorem ipsum dolor sit
          amet consectetur. Lectus bibendum amet nulla pellentesque. Et lorem
          vel mauris imperdiet sed vel dui ultrices nulla. Ullamcorper maecenas
          cras sed maecenas ornare pharetra turpis hendrerit.
        </p>
      </div>
      <div class="section-block-text-cont">
        <img
          class="section-block-image"
          src="{{ 'media/about-img1.png' | relative_url }}"
          alt="Photo of founder Dr Shuqiao pitching at scale space."
        />
      </div>
    </div>


    <div class="section-inner-block-highlight">
      <h1 class="white">OUR STORY</h1>
      <p>Lorem ipsum dolor sit amet consectetur. Lectus bibendum amet nulla pellentesque. Et lorem vel mauris imperdiet sed vel dui ultrices nulla. Ullamcorper maecenas cras sed maecenas ornare pharetra turpis hendrerit. Nibh malesuada neque sodales rhoncus sed a tempus condimentum. Cursus sit mollis eget dictum sit. Lorem ipsum dolor sit amet consectetur. Lectus bibendum amet nulla pellentesque. Et lorem vel mauris imperdiet sed vel dui ultrices nulla. Ullamcorper maecenas cras sed maecenas ornare pharetra turpis hendrerit. </p>
    </div>


    <h1 style="margin-top: 120px; ">THE TEAM</h1>
    <div class="team-row">
      <div class="equal-col">
        <img
          class="team-image"
          src="{{ 'media/team-shuqiao.png' | relative_url }}"
          alt="Image of Dr Shuqiao Xie"
        />
        <h3  >Dr Shuqiao Xie</h3>
        <p>Founder & Technical lead</p>
        <bl class="team-list">
          <li>PhD in orthopaedic engineering</li>
          <li>Extensive experience in orthopaedic industry - Stryker</li>
          <li>Technical lead – systems engineering, computer vision</li>
          <li>Extensive experience in orthopaedic-related research and biomechanics.</li>
        </bl>
      </div>
      <div class="equal-col">
        <img
          class="team-image"
          src="{{ 'media/team-anthony.png' | relative_url }}"
          alt="Image of Prof. Anthony Bull"
        />
        <h3  >Prof. Anthony Bull</h3>
        <p>Founder & Research lead</p>
        <bl class="team-list">
          <li>PhD in knee biomechanics.</li>
          <li>Pioneered new model of translation – success.</li>
          <li>Personal extensive research and translational.</li>
          <li>Activity in joints mechanics – three spinout companies previously.</li>
          <li>Longest serving and youngest Head of Department in Bioengineering at Imperial College London.</li>
        </bl>
      </div>
      <div class="equal-col">
        <img
          class="team-image"
          src="{{ 'media/team-pierluigi.png' | relative_url }}"
          alt="Image of Dr Pierluigi Cuomo"
        />
        <h3  >Dr Pierluigi Cuomo</h3>
        <p>Founder & Clinical Lead</p>
        <bl class="team-list">
          <li>PhD in knee biomechanics.</li>
          <li>Board-certified orthopaedic surgeon.</li>
          <li>Honorary academic at Imperial College.</li>
          <li>Extensive experience in joint reconstruction, bone tumours (lead assistant Prof. Capanna).</li>
          <li>Extensive international experience in healthcare systems and private healthcare.</li>
        </bl>
      </div>
      <div class="equal-col">
        <img
          class="team-image"
          src="{{ 'media/team-marco.png' | relative_url }}"
          alt="Image of Dr Marco Hanaman"
        />
        <h3  >Dr Marco Hanaman</h3>
        <p>Founder</p>
        <bl class="team-list">
          <li>Creative engineering design.</li>
          <li>Experienced engineering project manager. </li>
          <li>Italian government and institutional attachment.</li>
          <li>Public positions with the Italian government for supervision of design and construction of hospitals, universities and other public buildings.</li>
        </bl>
      </div>
    </div>

    <div style="height: 150px"></div>

    {% include footer.html %}

  </body>
</html>
