---
title: Team
---

<!DOCTYPE html>
<html>
{% include document-head.html %}
<body>
{% include navbar.html %}
<div class="page-container">
    <!--    <div class="section-block" style="margin-top: 48px">-->
    <!--        <div class="section-block-text-cont">-->
    <!--            <h1>Team</h1>-->
    <!--            <p>-->
    <!--                Lorem ipsum dolor sit amet consectetur. Lectus bibendum amet nulla-->
    <!--                pellentesque. Et lorem vel mauris imperdiet sed vel dui ultrices-->
    <!--                nulla. Ullamcorper maecenas cras sed maecenas ornare pharetra turpis-->
    <!--                hendrerit. Nibh malesuada neque sodales rhoncus sed a tempus-->
    <!--                condimentum. Cursus sit mollis eget dictum sit. Lorem ipsum dolor-->
    <!--                sit amet consectetur. Lectus bibendum amet nulla pellentesque. Et-->
    <!--                lorem vel mauris imperdiet sed vel dui ultrices nulla. Ullamcorper-->
    <!--                maecenas cras sed maecenas ornare pharetra turpis hendrerit.-->
    <!--            </p>-->
    <!--        </div>-->
    <!--        <div class="section-block-text-cont">-->
    <!--            <img-->
    <!--                    class="section-block-image"-->
    <!--                    src="{{ 'media/about-img1.png' | relative_url }}"-->
    <!--                    alt="Photo of founder Dr Shuqiao pitching at scale space."-->
    <!--            />-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    <div class="section-inner-block-highlight">-->
    <!--        <h1 class="white">OUR STORY</h1>-->
    <!--        <p>-->
    <!--            Lorem ipsum dolor sit amet consectetur. Lectus bibendum amet nulla-->
    <!--            pellentesque. Et lorem vel mauris imperdiet sed vel dui ultrices-->
    <!--            nulla. Ullamcorper maecenas cras sed maecenas ornare pharetra turpis-->
    <!--            hendrerit. Nibh malesuada neque sodales rhoncus sed a tempus-->
    <!--            condimentum. Cursus sit mollis eget dictum sit. Lorem ipsum dolor sit-->
    <!--            amet consectetur. Lectus bibendum amet nulla pellentesque. Et lorem-->
    <!--            vel mauris imperdiet sed vel dui ultrices nulla. Ullamcorper maecenas-->
    <!--            cras sed maecenas ornare pharetra turpis hendrerit.-->
    <!--        </p>-->
    <!--    </div>-->

    <h1 style="margin-top: 120px">THE TEAM</h1>
    <div class="team-row">
        <div class="equal-col">
            <img
                    class="team-image"
                    src="{{ 'media/team/team-shuqiao.png' | relative_url }}"
                    alt="Image of Dr Shuqiao Xie"
            />
            <h3>Dr Shuqiao Xie</h3>
            <p>Founder & Technical lead</p>
            <ul class="team-list">
                <li>PhD in orthopaedic engineering</li>
                <li>Extensive experience in orthopaedic industry - Stryker</li>
                <li>Technical lead – systems engineering, computer vision</li>
            </ul>
        </div>
        <div class="equal-col">
            <img
                    class="team-image"
                    src="{{ 'media/team/team-anthony.png' | relative_url }}"
                    alt="Image of Prof. Anthony Bull"
            />
            <h3>Prof. Anthony Bull</h3>
            <p>Founder & Research lead</p>
            <ul class="team-list">
                <li>PhD in knee biomechanics.</li>
                <li>Pioneered new model of translation – success.</li>
                <li>Personal extensive research and translational.</li>
                <li>
                    Activity in joints mechanics – three spinout companies previously.
                </li>
            </ul>
        </div>
        <div class="equal-col">
            <img
                    class="team-image"
                    src="{{ 'media/team/team-pierluigi.png' | relative_url }}"
                    alt="Image of Dr Pierluigi Cuomo"
            />
            <h3>Dr Pierluigi Cuomo</h3>
            <p>Founder & Clinical Lead</p>
            <ul class="team-list">
                <li>PhD in knee biomechanics.</li>
                <li>Board-certified orthopaedic surgeon.</li>
                <li>Honorary academic at Imperial College.</li>
            </ul>
        </div>
    </div>

    <div class="team-row">
        <div class="equal-col">
            <img
                    class="team-image"
                    src="{{ 'media/team/team-marco.png' | relative_url }}"
                    alt="Image of Dr Marco Hanaman"
            />
            <h3>Dr Marco Hanaman</h3>
            <p>Founder</p>
            <ul class="team-list">
                <li>Creative engineering design.</li>
                <li>Experienced engineering project manager.</li>
            </ul>
        </div>
        <div class="equal-col">
            <img
                    class="team-image"
                    src="{{ 'media/team/team-paul.png' | relative_url }}"
                    alt="Image of Paul Griffin"
            />
            <h3>Paul Griffin</h3>
            <p>Business Advisor</p>
            <ul class="team-list">
                <li>Former Director of MBA Incoporado S.L.</li>
            </ul>
        </div>
        <div class="equal-col">
            <img
                    class="team-image"
                    src="{{ 'media/team/team-gareth.png' | relative_url }}"
                    alt="Image of Gareth Jones"
            />
            <h3>Gareth Jones</h3>
            <p>Clinical Advisor</p>
            <ul class="team-list">
                <li>Orthopaedic surgeon @ Charing Cross Hospital.</li>
                <li>Extensive experience in clinical trial.</li>
            </ul>
        </div>
    </div>

    <div class="team-row">
        <div class="equal-col">
            <img
                    class="team-image"
                    src="{{ 'media/team/team-anne.png' | relative_url }}"
                    alt="Image of Anne Roques"
            />
            <h3>Dr Anne Roques</h3>
            <p>Peoject Management</p>
            <ul class="team-list">
                <li>15 years orthopaedic industry experience product - development & regulatory</li>
            </ul>
        </div>
    </div>

    <div style="height: 150px"></div>

    {% include footer.html %}
</div>
</body>
</html>
