<!-- Navbar container -->
<nav class="navbar-container">
    <a href="{{ '/' | relative_url }}">
        <img class="navbar-logo" src="{{ 'media/nav-logo-long.png' | relative_url }}" alt="navbar logo"/>
    </a>
    <div class="navbar-links-container">
        <div class="navbar-link-wrapper" style="width:51.63px"><a class="navbar-link" {% if page.url== "/"
            %}style="font-weight: bold;"{% endif %} href="{{ '/' | relative_url }}">Home</a></div>
        <div class="navbar-link-wrapper" style="width:51.63px"><a class="navbar-link" {% if page.url== "/mario.html"
            %}style="font-weight: bold;"{% endif %} href="{{ '/mario' | relative_url }}">Product</a></div>
        <div class="navbar-link-wrapper" style="width:75.55px"><a class="navbar-link" {% if page.url==
            '/technology.html' %}style="font-weight: bold;""{% endif %} href="{{ '/technology' | relative_url
            }}">Technology</a></div>
        <div class="navbar-link-wrapper" style="width:62.32px"><a class="navbar-link" {% if page.url== '/team.html'
            %}style="font-weight: bold; "{% endif %} href="{{ '/team' | relative_url }}">Team</a></div>
        <div class="navbar-link-wrapper" style="width: 38.12px"><a class="navbar-link" {% if page.url== '/news.html'
            %}style="font-weight: bold; ""{% endif %} href="{{ '/news' | relative_url }}">News</a></div>
        <div class="navbar-link-wrapper" style="width:75.65px"><a class="navbar-link" {% if page.url== '/contact.html'
            %}style="font-weight: bold;""{% endif %} href="{{ '/contact' | relative_url }}">Contact Us</a></div>
    </div>
    <a onclick="openNav()" class="mobile-only">

        <img src="{{ 'media/burger-menu.svg' | relative_url }}">
    </a>

    <div id="mobile-nav" class="mobile-nav-container mobile-only">
        <a class="mobile-nav-close" onclick="closeNav()"><img src="{{ 'media/close-icon.svg' | relative_url }}"></a>
        <a class="mobile-nav-link-link" {% if page.url== "/" %}style="font-weight: bold;"{% endif %} href="{{ '/' |
        relative_url }}">Home</a>
        <a class="mobile-nav-link-link" {% if page.url== "/mario.html" %}style="font-weight: bold;"{% endif %} href="{{
        '/mario' | relative_url }}">Product</a>
        <a class="mobile-nav-link-link" {% if page.url== '/technology.html' %}style="font-weight: bold;""{% endif %}
        href="{{ '/technology' | relative_url }}">Technology</a>
        <a class="mobile-nav-link-link" {% if page.url== '/team.html' %}style="font-weight: bold; "{% endif %} href="{{
        '/team' | relative_url }}">Team</a>
        <a class="mobile-nav-link-link" {% if page.url== '/news.html' %}style="font-weight: bold; ""{% endif %} href="{{
        '/news' | relative_url }}">News</a>
        <a class="mobile-nav-link-link" {% if page.url== '/contact.html' %}style="font-weight: bold;""{% endif %}
        href="{{ '/contact' | relative_url }}">Contact Us</a>
    </div>

    <script>

        var mobileNav = document.getElementById("mobile-nav")

        function openNav() {
            mobileNav.style.visibility = "visible";
            mobileNav.style.opacity = 1;
        }

        function closeNav() {
            mobileNav.style.visibility = "hidden";
            mobileNav.style.opacity = 0;
        }
    </script>
</nav>
<!-- End of navbar -->