---
---

<!DOCTYPE html>
<html>


  {% include document-head.html %}

  <body class="page-container">
    {% include navbar.html %}

    <img
      class="news-header"
      src="{{ 'media/' | relative_url }}/posts/{{ page.slug }}-header.png"
      alt="Header image for {{ page.title }}"
    />
    <div class="news-title-block">
      <h1>{{ page.title }}</h1>
      <p>{{ page.author }} // {{ page.date | date: "%-d %B, %Y" }}</p>
      <div class="newsfeed-tags">
        {% for tag in page.tags %}
        <div class="newsfeed-tag">{{ tag }}</div>
        {% endfor %}
      </div>
    </div>

    <div class="news-content">{{ content }}</div>

    <div class="discover-more-newsfeed">
      {% for post in site.posts %}

      <div class="discover-more-column">
        <a href="{{ post.url | relative_url }}">
          <img
            class="discover-more-thumbnail"
            src="{{ 'media/' | relative_url }}/posts/{{ post.slug }}-thumbnail.png"
            alt="Photo of founder Dr Shuqiao pitching at scale space."
          />
        </a>

        <a href="{{ post.url | relative_url }}"><h2>{{ post.title }}</h2></a>
        <p style="margin-bottom: 16px">
          {{ post.author }} // {{ post.date | date: "%-d %B, %Y" }}
        </p>
        <p>
          {{ post.excerpt | strip_html | strip_newlines | truncate: 200 }}
          <a href="{{ post.url | relative_url }}" style="display: inline"><b>Read more</b></a>
        </p>
      </div>

      {% endfor %}
    </div>

    {% include footer.html %}
  </body>
</html>
